/*common styles*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

/*header styles*/
header {
  background-image: url('./static/bgc.png');
  height: 900px;
  width: 1920px;
  font-family: 'Montserrat', sans-serif;
}

.header-contact {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 1110px;
  color: white;
  margin: auto;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width: 1110px;
  margin: auto;
}

nav a {
  padding: 13px 0 13px 0;
}

.nav-separator {
  width: 1px;
  height: 45px;
  border-left: 1px solid white;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-top: 583px;
  width: 415px;
  height: 50px;
}

.action-buttons button {
  width: 200px;
  background-color: #998431;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

/*main styles*/
.wine {
  height: 856px;
  background-color: #2c2c2c;
  padding: 100px 405px;
  color: white;
}

.wine-content {
  width: 1108px;
  height: 654px;
  border: 1px solid white;
}

.wine-title {
  margin: 60px 187px 0 187px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.short-hr {
  width: 160px;
}

#wine-hr {
  margin: 40px 475px;
}

.wine-text {
  text-align: center;
  margin: 0 187px;
}

#wine-img {
  margin: 50px 475px 60px;
}

.collections {
  background-color: #e6e3c4;
  padding: 80px 405px;
  height: 1038px;
  font-family: 'Montserrat', sans-serif;
}

.long-hr {
  width: 1110px;
}

.collections-content {
  margin: 60px 0;
  display: flex;
  justify-content: space-between;
  gap: 125px;
}

.section-title {
  font-size: 16px;
}

#march-harvest {
  font-size: 36px;
}

#collection-hr,
#march-harvest,
.collection-desc,
.collection-grid {
  margin: 30px 0;
}

.collection-desc {
  text-align: left;
}

.collection-sub-image {
  display: flex;
  justify-content: space-between;
}

.collection-grid {
  display: grid;
  grid-template-columns: 75px 370px;
  grid-template-rows: 73px 74px 77px;
  gap: 1px;
  background-color: black;
}

.collection-grid > div {
  background-color: #e6e3c4;
  text-align: center;
  padding: 10px 0 15px 0;
}

#collection-button {
  width: 254px;
  height: 50px;
  background-color: #998431;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5%;
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.tasting {
  height: 767px;
  background-color: #2c2c2c;
  padding: 60px 405px 100px;
  position: relative;
}

.tasting-content {
  border: 3px solid white;
  height: 536px;
  width: 1108px;
}

.tasting-top {
  display: flex;
  justify-content: space-between;
}

#barrel {
  width: 260px;
  height: 200px;
  z-index: 2;
  left: 53px;
  bottom: 65px;
}

#grape {
  z-index: 2;
  bottom: 60px;
  right: 30px;
}

.tasting-img {
  position: relative;
}

.tasting-title {
  width: 490px;
  height: 74px;
  text-align: center;
  z-index: 2;
  color: white;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 40px;
  background-color: #2c2c2c;
  padding: 15px;
}

.tasting-bottom {
  position: relative;
  margin-top: -230px;
}

.shortest-hr {
  width: 118px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tasting-text {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  width: 539px;
  margin: auto;
}

.registration-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin: auto;
  margin-top: 80px;
  width: 540px;
  height: 170px;
}

.registration-form input,
.registration-form button {
  padding: 12px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  outline: none;
  color: white;
  background-color: #2c2c2c;
}

.registration-form input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid white;
}

.wine-registration input:focus {
  border-color: #2c2c2d;
  box-shadow: 0 0 0 2px rgba(153, 132, 49, 0.2);
}

.input-c,
.submit-btn {
  grid-column: 1 / span 2;
}

.submit-btn {
  background-color: #2c2c2c;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border: 1px solid white;
  margin-top: 50px;
}

footer {
  height: 220px;
  background-color: #998431;
  padding: 50px 405px;
}

.footer-nav {
  display: flex;
  height: 58px;
  width: 1108px;
  margin: auto;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.footer-bottom {
  display: flex;
  height: 59px;
  width: 1108px;
  margin: auto;
  border-bottom: 1px solid white;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.placeholder {
  width: 40px;
}
.fab {
  font-size: 28px;
}
